@model IEnumerable<ctest.Models.dboSchema.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Encryptedcontent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiverchatuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senderchatuser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Encryptedcontent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiverchatuser.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senderchatuser.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Messageid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Messageid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Messageid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
